@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
	margin: 0;
	font-family: "Roboto";
}

div.grid-container {
	display: grid;
	grid-template-rows: 1fr 8.5fr;
	grid-template-areas:
		"header"
		"tasks";
	height: 100vh;
	/* margin: 2em; */
}

div.project_header {
	background: white;
	box-shadow: inset 0px -1px 3px 0px rgba(0, 0, 0, 0.25);
	min-height: 100px;
	display: flex;
}

div.header_left {
	display: flex;
	align-items: center;
}

div.project_image {
	display: flex;
	margin-left: 1.8em;
	align-items: center;
	justify-content: center;
}

div.project_image img {
	width: 60px;
	height: 60px;
	border-radius: 13px;
}

span.project_image_text {
	position: absolute;
	font-size: 1.4em;
}

div.project_overview {
	margin-left: 1.8em;
}

div.project_name {
	font-size: 1.7em;
}

div.project_name:hover {
	cursor: pointer;
}

i.header_arrow {
	color: #bfbec3;
	margin-left: 0.2em;
}

div.project_buttons {
	margin-top: 0.9em;
}

span.header_panel {
	font-size: 1.1em;
	color: #837c7c;
}

span.header_panel.active {
	color: #3991e1;
	padding-bottom: 0.74em;
	border-bottom: 2px solid #3991e1;
}

span.header_panel:last-of-type {
	margin-left: 1.8em;
}

span.header_panel:hover {
	cursor: pointer;
}

div.tasks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "col col col col";
	background: #f6f8f9;
	padding: 0.1em; /* 0 top/bottom - 2em left/right */
}

div.col {
	margin: 1.8em;
	height: fit-content;
}

div.col_header {
	font-weight: 500;
	font-size: 20px;
	color: #353439;
}

div.new.task {
	min-height: 30px;
	padding: 0.8em;
	text-align: center;
	display: block;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 6px 6px;
	color: #3b94c7;
}

div.new:hover {
	background: #f1f1f1;
	cursor: pointer;
}

p.plus {
	font-size: 3em;
}

div.task {
	padding: 1.3em;
	min-height: 50px;
	border-radius: 6px;
	margin-bottom: 1em;
	background: white;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	line-height: 1.4em;
	font-size: 1.1em;
	display: flex;
	align-items: center;
	display: block;
}

div.task p {
	margin: 0;
}

.hidden {
	display: none;
}
