<%- include ('../partials/header.ejs') %>

<div class="grid-container">
    <div class="project_header">
    </div>
    <div class="tasks">
        <div class="row">
            <div class="row_header">
                <h2>test</h2>
            </div>
            <div class="task">
                <p>TASK</p>
            </div>
            <div class="task">
                <p>TASK</p>
            </div>
            
        </div>
        <div class="row">
            <div class="row_header">
                <h2>test</h2>
            </div>
            <div class="task">
            
            </div>
        </div>
        <div class="row">
            <div class="row_header">
                <h2>test</h2>
            </div>
            <div class="task">
            
            </div>
        </div>
        <div class="row">
            <div class="row_header">
                <h2>test</h2>
            </div>
            <div class="task">
            
            </div>
        </div>
    </div>
    
</div>

<%- include ('../partials/footer.ejs') %>